# 10 Data Cleansing Technique for Begineers

## Step 0: Import libraries

In [1]:
import pandas as pd
import numpy as np

## Step 1: Load the dataset

In [2]:
file_path = 'retail_dummy_dataset.csv'  # Update the path as needed
df = pd.read_csv(file_path)

In [3]:
print("Initial Dataset:")
display(df.head())

Initial Dataset:

,CustomerID,PurchaseDate,ProductCategory,PurchaseAmount,DiscountApplied,PaymentMethod,CustomerFeedback
0,CUST001,2023-01-01,Grocery,NaN,0.0,Credit Card,5.0
1,CUST002,2023-01-02,Beauty,NaN,0.0,NaN,3.0
2,CUST003,2023-01-03,Electronics,940.103952,20.0,Cash,1.0
3,CUST003,2023-01-03,Electronics,940.103952,20.0,Cash,1.0
4,CUST004,2023-01-04,Grocery,NaN,10.0,NaN,2.0

## Step 2: Converting Data Types

In [4]:
print("Data types before conversion:")
display(df.dtypes)

# Ensure CustomerFeedback is of type integer
df['CustomerFeedback'] = df['CustomerFeedback'].astype('Int64')

print("Data types after conversion:")
display(df.dtypes)

Data types before conversion:

CustomerID           object
PurchaseDate         object
ProductCategory      object
PurchaseAmount      float64
DiscountApplied     float64
PaymentMethod        object
CustomerFeedback    float64
dtype: object

Data types after conversion:

CustomerID           object
PurchaseDate         object
ProductCategory      object
PurchaseAmount      float64
DiscountApplied     float64
PaymentMethod        object
CustomerFeedback      Int64
dtype: object

## Step 3: Identify Missing Data

In [5]:
print("Missing values per column:")
display(df.isnull().sum())

Missing values per column:

CustomerID           0
PurchaseDate         0
ProductCategory      0
PurchaseAmount      14
DiscountApplied     11
PaymentMethod       28
CustomerFeedback    20
dtype: int64

## Step 4: Fill Missing Data

In [6]:
# Impute missing PurchaseAmount with the median
df['PurchaseAmount'] = df['PurchaseAmount'].fillna(df['PurchaseAmount'].median())

# Impute missing DiscountApplied with 0 (assume no discount applied)
df['DiscountApplied'] = df['DiscountApplied'].fillna(0)

# Fill missing PaymentMethod with 'Unknown'
df['PaymentMethod'] = df['PaymentMethod'].fillna('Unknown')

print("Missing values after imputation:")
display(df.isnull().sum())

Missing values after imputation:

CustomerID           0
PurchaseDate         0
ProductCategory      0
PurchaseAmount       0
DiscountApplied      0
PaymentMethod        0
CustomerFeedback    20
dtype: int64

## Step 5: Drop Missing Data

In [7]:
# Drop rows where CustomerFeedback is missing (since it is the target variable)
df = df.dropna(subset=['CustomerFeedback'])

print("Dataset after dropping missing data:")
display(df.head())

Dataset after dropping missing data:

,CustomerID,PurchaseDate,ProductCategory,PurchaseAmount,DiscountApplied,PaymentMethod,CustomerFeedback
0,CUST001,2023-01-01,Grocery,432.836711,0.0,Credit Card,5
1,CUST002,2023-01-02,Beauty,432.836711,0.0,Unknown,3
2,CUST003,2023-01-03,Electronics,940.103952,20.0,Cash,1
3,CUST003,2023-01-03,Electronics,940.103952,20.0,Cash,1
4,CUST004,2023-01-04,Grocery,432.836711,10.0,Unknown,2

## Step 6: Removing Duplicate Data

In [8]:
# Check for duplicates
print(f"Number of duplicate rows: {df.duplicated().sum()}")

# Remove duplicates
df = df.drop_duplicates()

print(f"Number of rows after removing duplicates: {len(df)}")

Number of duplicate rows: 1
Number of rows after removing duplicates: 80

## Step 7: Standardizing Data

In [9]:
# Standardize ProductCategory to lowercase
df['ProductCategory'] = df['ProductCategory'].str.lower()

# Strip extra spaces in PaymentMethod
df['PaymentMethod'] = df['PaymentMethod'].str.strip()

# Ensure PurchaseAmount is rounded to two decimal places
df['PurchaseAmount'] = df['PurchaseAmount'].round(2)

# Ensure DiscountApplied is rounded to two decimal places
df['DiscountApplied'] = df['DiscountApplied'].round(2)

print("Dataset after standardization:")
display(df.head())

Dataset after standardization:

,CustomerID,PurchaseDate,ProductCategory,PurchaseAmount,DiscountApplied,PaymentMethod,CustomerFeedback
0,CUST001,2023-01-01,grocery,432.84,0.0,Credit Card,5
1,CUST002,2023-01-02,beauty,432.84,0.0,Unknown,3
2,CUST003,2023-01-03,electronics,940.10,20.0,Cash,1
4,CUST004,2023-01-04,grocery,432.84,10.0,Unknown,2
6,CUST006,2023-01-06,beauty,922.66,30.0,Unknown,5

## Step 8: Removing Unnecessary Columns

In [10]:
# Remove PurchaseDate for this example
df = df.drop(columns=['PurchaseDate'])

print("Dataset after removing unnecessary columns:")
display(df.head())

Dataset after removing unnecessary columns:

,CustomerID,ProductCategory,PurchaseAmount,DiscountApplied,PaymentMethod,CustomerFeedback
0,CUST001,grocery,432.84,0.0,Credit Card,5
1,CUST002,beauty,432.84,0.0,Unknown,3
2,CUST003,electronics,940.10,20.0,Cash,1
4,CUST004,grocery,432.84,10.0,Unknown,2
6,CUST006,beauty,922.66,30.0,Unknown,5

## Step 9: Binning Data

In [11]:
# Bin PurchaseAmount into categories: Low, Medium, High
bins = [0, 100, 500, 1000]
labels = ['Low', 'Medium', 'High']
df['PurchaseCategory'] = pd.cut(df['PurchaseAmount'], bins=bins, labels=labels)

print("Dataset after binning PurchaseAmount:")
display(df.head())

Dataset after binning PurchaseAmount:

,CustomerID,ProductCategory,PurchaseAmount,DiscountApplied,PaymentMethod,CustomerFeedback,PurchaseCategory
0,CUST001,grocery,432.84,0.0,Credit Card,5,Medium
1,CUST002,beauty,432.84,0.0,Unknown,3,Medium
2,CUST003,electronics,940.10,20.0,Cash,1,High
4,CUST004,grocery,432.84,10.0,Unknown,2,Medium
6,CUST006,beauty,922.66,30.0,Unknown,5,High

## Step 10: Saving dataset

In [12]:
# Save the cleaned dataset for further use
cleaned_file_path = 'retail_cleaned_dataset.csv'
df.to_csv(cleaned_file_path, index=False)
print(f"\nCleaned dataset saved to {cleaned_file_path}")

Cleaned dataset saved to retail_cleaned_dataset.csv